::root {
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  background-color: #444444;
}
header {
  height: 4.125rem;
  background-color: #dfb306;
  overflow: hidden;
  transition: height 0.35s ease-in-out, background-color 0.5s ease-in-out;
} 
#navigation {
  list-style: none;
  margin: 0;
  padding: 0 1.125rem;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease-in-out;
  font-family: Roboto;
}
#navigation > li {
  text-align: center;
  padding: 1rem;
  color: #444444;
}
#navigation > li > a {
  text-decoration: none;
  color: #444444;
}
#navigation > li > a:hover {
  text-decoration: underline;
  color: black;
}