::root {
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
body {
  font-family: Roboto;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #444444;
}
header {
  background-color: #FFBD00;
} 
#bars-icon {
  height: 4.125rem;
  width: auto;
  display: block;
} 
#cross-icon {
  height: 4.125rem;
  width: auto;
  display: none;
}
.active, .collapse-button:hover {
  background-color: #FFE376;
}
#navigationMenu {
  /* display: none; */
  list-style: none;
  margin: 0;
  padding: 0 18px;
  background-color: #FFE376;
  height: 0;
  overflow: hidden;
  transition: height 1s ease-out;
  font-family: Roboto;
}
#navigationMenu > li {
  text-align: center;
  padding: 1rem;
  color: #444444;
}
a.svg {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
